.flash
  = current_flash_message

%ul
  - @files.each do |file|
    %li
      %a(href="/files/#{file.name}")
        = file.name
      %a(href="/files/#{file.name}/edit")
        %img(src="images/edit.png" height="20px")
