!!!
%html

  %head
    %title Fleet Captain
    %link(rel="stylesheet" href="stylesheets/fleet_captain.css")
    %link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|PT+Sans")

  %body

    .flash
      = current_flash_message

    = yield
